body {
    background-image: url(a62.png);
}

h1 {
    font-family: helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
    font-weight: normal;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

h2 {
    font-family: helvetica, arial, sans-serif;
    border-bottom: 2px solid black;
}

#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 2px solid black;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: span 12;
    margin: 0;
}

nav {
    grid-column: span 3;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

nav li {
    width: auto;
    padding: 10px;
}

nav li a {
    display: block;
    color: white;
    background-color: red;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: helvetica, arial, sans-serif;
}

nav li a:hover {
    background-color: darkred;
}

main {
    grid-column: span 9;
    width: auto;
    margin-right: 15px;
}

main img {
    float: left;
    padding: 10px;
    border: 2px solid black;
    margin-right: 10px;
}

main p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

main p a {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

main p a:visited {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

main p a:hover {
    text-decoration: underline;
    color: blue;
}

#boldthree {
    font-weight: bold;
}

footer {
    grid-column: span 12;
    background-color: red;
    border-top: 2px solid black;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: center;
    font-style: italic;
}