body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

h1 {
  grid-column: span 4;
  font-family: "Italiana", sans-serif;
  font-size: 48px;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-right: 0;
  width: 400px;
}

h1 a {
  color: #696969;
  background-image: url(GradientImage.png);
  text-decoration: none;
  padding: 20px;
  margin-left: 25px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 3px #999;
}

nav {
  grid-column: span 8;
}

nav li {
  font-family: "Italiana", sans-serif;
  font-size: 16px;
  display: inline-block;
  padding-top: 30px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px;
  background-image: url(GradientImage.png);
  border-radius: 50px;
  padding: 15px;
  box-shadow: 1px 1px 1px #999;
}

main {
  grid-column: span 12;
}

#mainimg {
  max-width: 1150px;
  margin-left: 25px;
  margin-top: 0px;
  padding: 0px;
  border-radius: 5px;
}

#heroCarousel img {
  max-width: 1150px;
  margin-left: 25px;
  margin-top: 0px;
  padding: 0px;
  border-radius: 5px;  
}

footer {
  grid-column: span 12;
  background: #ede3da;
  margin: 0px;
}

footer p {
  margin: 38px;
  font-size: 54px;
  color: white;

}

.f-carousel {
  --f-button-width: 38px;
  --f-button-height: 38px;

  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 2.5;

  --f-button-color: rgb(71 85 105);
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-button-bg: #fff;
  --f-button-hover-bg: #f9f9f9;
  --f-button-active-bg: #f0f0f0;
}
